@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FoundersGroteskCondensed";
    src: url("../assets/fonts/FoundersGrotesk-Semibold.ttf");
}

@font-face {
    font-family: "NueueMontreal";
    src: url("../assets/fonts/NeueMontreal-Regular.ttf");
}

* {
    font-family: "NueueMontreal", sans-serif;
}

:root {
    color-scheme: dark;
}

.back {
    background-image: url('../public//mute.jpg');
}

/* html,
  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  } */

/* @media screen and (max-width: 480px) {
    html,
    body {
      font-size: 16px;
    }
  } */